<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/33129/popcorn-movie-party-entertainment.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);">
  <div class="container">
    <h1>Welcome To The <strong>Watch</strong>List 🎥 </h1>
    <p>Create the Ultimate Movie List.</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
