<%= render "shared/navbar"%>
<%= render "banner"%>
<h1>Your List</h1>

<div class="row">
  <%@lists.each do |list|%>
    <div class="col">
      <div class="card-category"
        style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))"
      >
      <img class="card-img-top" src="..." alt="Card image cap">
        <h5 class="card-title"><%=list.name%></h5>
        <p><%=link_to "Review",list_path(list)%></p>
      </div>
    </div>
  <%end%>
</div>
