
  <div class="row">
    <%@movies.each do |movie|%>
      <div class="col">
        <div class="col-lg-3 card m-3" style="width: 15rem;">
          <img src="<%=movie.poster_url%>" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title"><%=movie.title%></h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <%=link_to "Bookmark",new_list_bookmark_path(@list),class:"btn btn-primary" %>
          </div>
        </div>
      </div>
    <%end%>
  </div>

</div>
